<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="footer01">
          <img src="../../../assets/images/logo1.png" alt="logo footer">
          <p>Galaxy Cinema là một trong những công ty tư nhân đầu tiên về điện ảnh được thành lập từ năm 2003</p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="footer02">
          <h4 class="title">Giới thiệu</h4>
          <ul>
            <li>
              <a href="#">Về chúng tôi</a>
            </li>
            <li>
              <a href="#">Hệ thống rạp</a>
            </li>
            <li>
              <a href="#">Tuyển dụng</a>
            </li>
            <li>
              <a href="#">Liên hệ</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="footer03">
          <h4 class="title">Kết nối với movie</h4>
          <ul>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="end">
    Copyright with Hieu © 2018. All rights reserved
</footer>