<div id="banner_movie" >
  <div class="banner" [style.background-image]="'url('+ movieDetail.HinhAnh +')'"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-5 col-lg-4">
        <img [src]="movieDetail.HinhAnh" alt="phim">
      </div>
      <div class="col-sm-7 col-lg-8">
        <div class="content">
          <h4 class="title">{{movieDetail.TenPhim}}</h4>
          <p class="des">{{movieDetail.MoTa}}</p>
          <p class="rating" [innerHTML]="ratingStar">
          </p>
          <span>IMDb</span><b>7.0</b>
          <p class="time">
              <i>{{movieDetail.NgayKhoiChieu | date: 'dd/MM/yyyy'}} -</i>
              <i>{{movieDetail.LichChieu.length !== 0 ? movieDetail.LichChieu[0].ThoiLuong + ' phút' : 'Chưa có'}} </i>
          </p>
          <a data-vbtype="video" data-autoplay="true" [href]="movieDetail.Trailer" class="venobox btn btn_trailer"><i class="fa fa-play"></i> Trailer</a>
        </div>
      </div>
    </div>
  </div>
</div>
