<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators d-none">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <!-- Carousel Content Slide -->
    <app-carousel-content></app-carousel-content>
    <app-carousel-navtab></app-carousel-navtab>
  </div>
  <a class="carousel-control carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <i class="fa fa-long-arrow-left"></i>
  </a>
  <a class="carousel-control carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <i class="fa fa-long-arrow-right"></i>
  </a>
</div>